$bgcolor: rgb(172, 111, 111);
$hovercolor: rgb(110, 110, 110);

$breakpoint-medium: 768px;

@mixin container {
    background-color: bisque;
    color: black;
    height: 500px;
    width: 400px;
    margin: 15px;
    padding: 20px;
}

@mixin button {
    padding: 6px;
    margin-top: 5px;
    font-size: 15px;
    border-radius: 5px;
    @include font-family();
    cursor: pointer;
  
    &:hover {
      color: rgb(110, 110, 110);
    }
}

@mixin font-family {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

@mixin liststyle1 {
  list-style-type: none;

  li {
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: $hovercolor;
    }
  }
}

@mixin liststyle2 {
    list-style-type: none;
    font-size: 30px;
    text-decoration: line-through;
    cursor: pointer;
    
    &:hover {
      color: $hovercolor;
    }

    }
   