@import "mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @include body
  }

  .container {
   @include container
    
  }

  #theList {
  @include liststyle1
  }

  .lilist2 {
    @include liststyle2
  }
  
  #button {
  @include button

  }
  
  #rubrik1 {
    margin: 3px;
    padding: 3px;
  }

  
  #formtodo {
    margin: 15px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: $boxshadow;
    background-color: bisque;

    #input {
      @include font-family();
      font-size: 25px;
      border: 2px black solid;
      border-radius: 7px;
    }

     ::placeholder {
      font-style: italic;
      font-size: 20px;
    }
  }
  
  @media screen and (min-width: $breakpoint-medium) {
    body {
      flex-direction: row;
      justify-content: center;

      h1 {
      font-size: 50px;
      }
    }
  
    #todo {
    font-size: 25px;
    }
  
    #formtodo {
      margin: 20px;
      padding: 30px;
    }
    }
  