@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(238, 170, 233);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

    h1 {
      font-size: 50px;
    }
    
  }
  
  .container {
   @include container
    
  }
  
  #theList {
    list-style-type: none;
    padding: 10px;
  
    li {
      font-size: 30px;
      cursor: pointer;
  
      &:hover {
        color: rgb(110, 110, 110);
      }
  
    }
  }

    .lilist2 {
    list-style-type: none;
    font-size: 30px;
    text-decoration: line-through;
    }

  
  img {
    height: 150px;
    width: 200px;
  }
  
  #todo {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 25px;
    border-radius: none;
  }
  
  #button {
  @include button

  }
  
  #rubrik1 {
    margin: 3px;
  }

  
  #formtodo {
    margin-top: 75px;
    
  }